@media only screen and (min-width: 768px) {
body{ background: linear-gradient(103deg, rgb(0, 72, 112) 0%, rgb(46, 140, 140) 100%);

}
#bg{

    margin-top: 100px;
    position: relative;
    left: 30%;
    
}
.form-control{
    margin-top: 10px;
    width:30%;
    padding: 5px;
    background: transparent;
    border-color:white;
    border-radius: 10px;
    
    
}
.form-control :active{
    margin-top: 10px;
    width:30%;
    padding: 5px;
    background: transparent;

    border-color:white;
    border-radius: 10px;
}

#binary,#decimal,#hexa,#octal{
    margin-top: 10px;
    width:30%;
    padding: 7px;
    background: transparent;
    border:2px solid whitesmoke;
    border-radius: 10px;
    color: white;
}

#datatype{
    color: white;
}
}
@media only screen and (max-width: 760px) {
    body{ background: linear-gradient(103deg, rgb(0, 72, 112) 0%, rgb(46, 140, 140) 100%);
    
    }
    #bg{
    
        margin-top: 100px;
        position: relative;
        left: 22%;
        
    }
    .form-control{
        margin-top: 10px;
        width:30%;
        padding: 5px;
        background: transparent;
        border-color:white;
        border-radius: 10px;
        
        
    }
    .form-control :active{
        margin-top: 10px;
        width:20%;
        padding: 5px;
        background: transparent;
    
        border-color:white;
        border-radius: 10px;
    }
    
    #binary,#decimal,#hexa,#octal{
        margin-top: 10px;
        width:45%;
        padding: 7px;
        background: transparent;
        border:2px solid whitesmoke;
        border-radius: 10px;
        color: white;
    }
    
    #datatype{
        color: white;
    }
    }